
# Normalização de fim de linha
* text=auto

# Exclui os arquivos HTML das aulas do GitHub Linguist
Haskell/Aulas/* linguist-documentation
Haskell/Projeto/enunciado.html linguist-documentation
Prolog/Aulas/* linguist-documentation
Python/Aulas/* linguist-documentation
